header{
 
  height: 25px;
}
.logo img{
 height: 50px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
  
}
nav ul{
  display: flex;
  text-align: center;
  margin-right: 600px;
  
 
}
nav ul li{
  margin-left: 30px;
  list-style: none;
 
  
}
nav ul li a{
  color: black;
}
nav img{
  height: 40px;
}