main{
  padding: 53px 71px 71px 167px;
   height: 400p;
  position: relative;
}
.parte1{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
 }
.flex{
  display: flex;
  justify-content: space-between;
}
 .parte1 span{
  background:  linear-gradient( to right, #ac01c67a, #fa01c49c);
  padding: 10px;
  width: 150px;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  transition: 0.4s;
 
 }
 .parte1 span:hover{
  transform: scale(1.1);
 }
 .parte1 h1{
  font-size: 2.9rem;
  color: rgb(28, 16, 56);
  font-weight: 400;
 }
 .parte1 h3{
  margin-top: 10px;
  font-weight: 100;
 }
 .back{
  display: flex;
  
 }
 .back img{
  margin-top: 10px;
  padding: 10px;
  height: 90px;
  cursor: pointer;
  transition: all 0.3s;
 }
 .back img:hover{
 transform: scale(1.1);
 }
 .parte2{
  position: absolute;
  top: 1%;
  right: 5%;
  }